@import url(http://fonts.googleapis.com/css?family=Roboto:300,100&subset=latin,latin-ext);
/*****************************************************************************************/
/*** UTILITAIRES *************************************************************************/
/*****************************************************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  display: inline-block;
  speak: none;
  width: 1em;
  margin-right: 0.25em;
  text-align: center;
}
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/*****************************************************************************************/
/*** NUANCIERS ***************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/
#portlets-in-header div.portlet.portletNavigation.navbar-style-noir,
#portlets-in-header div.portlet.portletNavigation.navbar-style-logo,
div.portlet.portletNavigation nav.navbar.navbar-style-principal div.navbar-collapse ul.dropdown-menu,
.portlet.portletTitre {
  background-color: #888888 !important;
}
div.portlet.portletNavigation.navbar-style-plan {
  background-color: #f7f5f0;
}
div.portlet.portletNavigation.navbar-style-plan,
div.portlet.portletNavigation.navbar-style-plan nav.navbar ul.row li a {
  color: #000;
}
div.portlet.portletCarousel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#555555));
  background-image: -webkit-linear-gradient(top, #888888, #555555) ;
  background-image: -moz-linear-gradient(top, #888888, #555555) ;
  background-image: -ms-linear-gradient(top, #888888, #555555) ;
  background-image: -o-linear-gradient(top, #888888, #555555) ;
  background-image: linear-gradient(top, #888888, #555555) ;
}
