div.portlet.portletA_La_Une {
    margin-bottom: 10px;
}

div.portlet.portletA_La_Une .tab-content {
    padding: 0;
    border-radius: 0;
}

div.portlet.portletA_La_Une p.discreet {
    margin: 0;
}

div.portlet.portletA_La_Une .thumb_link {
    display: block;
    width: 100%;
}
div.portlet.portletA_La_Une .details_link {
    display: block;
    text-decoration: none !important;
}

div.portlet.portletA_La_Une .dossier_actu_evenement_header,
div.portlet.portletA_La_Une .dossier_actu_evenement_titre,
div.portlet.portletA_La_Une .dossier_actu_evenement_date,
div.portlet.portletA_La_Une .dossier_actu_evenement_location {
    display: block;
    color: #000;
    text-align: center;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_header {
    background-color: #006FA4;
    color: #FFF;
    padding: 10px 5px;
    position: relative;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_header .icon-stack {
    position: absolute;
    left: 0;
    top: -5px;
    font-size: 125%;
    color: #006FA4;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_header .icon-stack .icon-stack-base {
    color: #FFF;
    text-shadow: 0 0 1px #006FA4, 0 0 1px #006FA4, 0 0 1px #006FA4;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_header .icon-stack .icon-stack-top {
    font-size: 85%;
    margin-top: -0.25em;
}

div.portlet.portletA_La_Une .dossier_actu_evenement_titre {
    line-height: 30px;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_desc {
    margin: 0;
    margin-top: 5px;
    padding: 5px;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_desc a {
    text-decoration: none !important;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_desc a small {
    color: #666;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_desc a span {
    display: block;
}

div.portlet.portletA_La_Une .dossier_actu_evenement_tout {
    margin-top: 15px;
    background-color: #006FA4;
}
div.portlet.portletA_La_Une .dossier_actu_evenement_tout a {
    display: block;
    text-align: center;
    padding: 5px;
    color: #FFF;
    text-decoration: none !important;
}
